p:hover {
	color: #d30c80;
}

p {
	margin-right: 20px;
	margin-left: 20px;
}

body {
	background-color: #D9EDF7;
}

.main-container {
	display: inline-block;
	font-family: sans-serif;
	color: #6B7096;
	text-align: center;
	margin:auto;
	overflow: hidden;
}

a {
	color:#6B7096;
}

.main-container, h1 {
	border: 2px solid #31708F;
	box-shadow: #B4B5B5 20px 20px 20px;
	border-radius: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-right: 30px;
	margin-left: 30px;
}