p:hover {
	color: #d30c80;

}

p {
	margin-right: 20px;
	margin-left: 20px;
}

body {
	background-color: #D9EDF7;
}

.main-container {
	display: inline-block;
	font-family: sans-serif;
	color: #6B7096;
	text-align: center;
	margin:auto;
	overflow: hidden;
}

a {
	color:#6B7096;
}